body {
    background-color: gray;
}


/*headr css*/

.anitext {
    padding-top: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.text1 {
    border-radius: 20px;
    color: white;
    font-size: 70px;
    font-weight: 600;
    letter-spacing: 8px;
    margin-bottom: 10px;
    background: rgb(56, 56, 56);
    position: fixed;
    animation: text 3s 100000;
}

@keyframes text {
    0% {
        color: black;
    }
    30% {
        letter-spacing: 25px;
    }
    85% {
        letter-spacing: 8px;
    }
}

.head {
    float: left;
}


/*nav css*/

.nav,
a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    color: black;
}

a:hover {
    background-color: rgba(255, 255, 255, .25);
    border-radius: 50px;
    color: black;
}


/*car logo*/

.con {
    border: 2px double black;
    border-radius: 20px;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.con>a {
    background-color: rgb(0, 96, 206);
    border-radius: 20px;
    color: aliceblue;
}

.carlogo {
    width: 300px;
    float: right;
    padding-top: 40px;
    padding-right: 200px;
    position: relative;
}

.carlogo:hover {
    width: 350px;
}


/*benz car*/

.bgbenz {
    border-radius: 20px;
    background-color: rgb(97, 94, 91);
}

.benz {
    text-align: center;
}

.benz>a {
    background-color: rgb(0, 96, 206);
    border-radius: 20px;
    color: aliceblue;
}

.benzimg {
    width: 300px;
    float: left;
    padding-left: 50px;
    position: relative;
}


/*toyoto car*/

.bgtoyota {
    border-radius: 20px;
    background-color: rgb(97, 94, 91);
}

.toyota {
    text-align: center;
}

.toyota>a {
    background-color: rgb(0, 96, 206);
    border-radius: 20px;
    color: aliceblue;
}

.toyotaimg {
    width: 400px;
    float: right;
    padding-right: 50px;
    position: relative;
}


/*bmw car*/

.bgbmw {
    border-radius: 20px;
    background-color: rgb(97, 94, 91);
}

.bmw {
    text-align: center;
}

.bmw>a {
    background-color: rgb(0, 96, 206);
    border-radius: 20px;
    color: aliceblue;
}

.bmwimg {
    width: 300px;
    float: left;
    padding-right: 50px;
    position: relative;
}


/*audi car*/

.bgaudi {
    border-radius: 20px;
    background-color: rgb(97, 94, 91);
}

.audi {
    text-align: center;
}

.audi>a {
    background-color: rgb(0, 96, 206);
    border-radius: 20px;
    color: aliceblue;
}

.audiimg {
    width: 400px;
    float: right;
    padding-right: 50px;
    position: relative;
}


/*wolswegan car*/

.bgwolswegan {
    border-radius: 20px;
    background-color: rgb(97, 94, 91);
}

.wolswegan {
    padding-top: 10px;
    text-align: center;
}

.wolswegan>a {
    background-color: rgb(0, 96, 206);
    border-radius: 20px;
    color: aliceblue;
}

.wolsweganimg {
    width: 300px;
    float: right;
    padding-right: 50px;
    position: relative;
}


/*footer css*/

.bgfoot {
    border-radius: 20px;
    background-color: rgb(97, 94, 91);
}

.pera1 {
    float: left;
}

.pera2 {
    float: right;
}

span {
    color: red;
}